[Unit]
Description=BESI-C Environmental Data Collection
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardOutput=file:/var/log/besic/envsense.log
StandardError=inherit
ExecStart=besic-envsense
Restart=always

[Install]
WantedBy=multi-user.target
