Source: besic-envsense
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: libbesic2-dev, libpigpio-dev, debhelper (>= 9)

Package: besic-envsense
Architecture: armhf
Depends: libbesic2, libpigpio1, ${shlibs:Depends}, ${misc:Depends}
Description: BESI-C environmental sensors
 Reader and transmitter for BESI-C project environmental data readings
