*.pyc
*.log
*.o
*.out
*.tar.gz
*.tar.xz
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.substvars
*.debhelper
__pycache__
__init__.py
.env
debhelper-build-stamp
files
/audio-py/debian/besic-audio-py
/env-py/debian/besic-env-py
/envsense/debian/besic-envsense
