[Unit]
Description=BESI-C Relay Data Uploader (python)
After=network.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/var/besic/config.conf
StandardOutput=file:/var/log/besic/sensors.log
StandardError=inherit
ExecStart=python3 -u /var/besic/sensors/Sensors.py
Restart=always

[Install]
WantedBy=multi-user.target
