Source: besic-nullsense
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: libbesic2-dev, debhelper (>= 9)

Package: besic-nullsense
Architecture: any
Depends: libbesic2, ${shlibs:Depends}, ${misc:Depends}
Conflicts: besic-envsense
Description: BESI-C null data sending
 Program to send dummy data to the BESI-C API
