Source: besic-env-py-legacy
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: besic-env-py-legacy
Architecture: all
Depends: python3, ${misc:Depends}
Description: BESI-C environmental data collection
 Python code for BESI-C project environmental data collection and upload
