Source: besic-dummy-csvs
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: libbesic2-dev, debhelper (>= 9)

Package: besic-dummy-csvs
Architecture: any
Depends: libbesic2, ${shlibs:Depends}, ${misc:Depends}
Conflicts: besic-envsense, besic-audio-py
Description: BESI-C dummy data file generator
 Generator to populate CSVs with dummy data for network testing
