[Unit]
Description=BESI-C Audio Analyzer
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardOutput=file:/var/log/besic/systemd-audio.log
StandardError=inherit
ExecStart=/usr/bin/python3 /usr/share/besic/audio-py/main.py
Restart=always

[Install]
WantedBy=multi-user.target
