[Unit]
Description=BESI-C Audio Data (python)
After=network.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/etc/besic/audio.conf
StandardOutput=file:/var/log/besic/audio.log
StandardError=inherit
ExecStart=/usr/bin/python3 /usr/share/besic/audio-py/AudioRead.py
Restart=always

[Install]
WantedBy=multi-user.target
