Source: besic-audio-py
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: besic-audio-py
Architecture: all
Depends: python3, python3-numpy, python3-matplotlib, python3-scipy, python3-pyaudio, python3-tqdm, jackd, libjack-jackd2-dev, portaudio19-dev, ${misc:Depends}
Description: BESI-C audio data collection
 Python code for BESI-C project audio data collection and analysis
